* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/59/Five_ivory_dice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.score-container {
  width: 90%;
  height: 85vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px;
}

h1 {
  margin: 10px;
  font-family: "Lobster", cursive;
  text-shadow:
    0 0 10px #9995cf,
    0 0 20px #9995cf,
    0 0 40px #232931;
  font-size: 3.5rem;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

#scoreBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  border: 3px solid #ffcc00;
  padding: 10px;
  width: 350px;
  border-radius: 7px;
}

.playerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 5px;
}

.game-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: black;
  color: white;
  border: 3px solid #ffcc00;
  padding: 10px;
  border-radius: 7px;
}

.dice {
  text-align: center;
}

p {
  font-size: 1.2rem;
  color: white;
  font-family: "Indie Flower", cursive;
  margin: 5px;
}

.btn {
  background: rgb(115, 93, 93);
  font-family: "Indie Flower", cursive;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.gif-container {
  position: relative;
  display: inline-block;
}

.gif {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  cursor: pointer;
}

.btn:hover {
  background: #462822;
  transform: scale(1.05);
  box-shadow: 0 0 2px 1px rgba(247, 217, 46, 0.7);
}

.container-bottom {
  text-align: center;
  height: 10vh;
  margin-top: -40px;
}
